.dockerignore
.DS_Store
.editorconfig
.gitattributes
.gitignore
.gitlint
.prettierignore
.vscode
.vs
**/*.binlog
**/*.cs
**/*.csproj
**/*.http
**/*.ico
**/*.sh
**/*.sln
**/*.txt
**/*.xml
**/**.yml
**/bin/**
**/obj/**
**/Properties/launchSettings.json
**/appsettings.json
Dockerfile
Jenkinsfile
.doppler-ci
doppler-jenkins-ci.groovy
yarn.lock
package-lock.json
[eE]ncrypted.[sS]ecret.*
*.csproj.user
*.key
**/README.md